<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexis.tvrs.rickandmortyuniverse">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_portal_gun"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_portal_gun_round"
        android:supportsRtl="true"
        android:theme="@style/AppSeriesTheme">
        <activity
            android:name="alexis.tvrs.rickandmortyuniverse.wiki.ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="alexis.tvrs.rickandmortyuniverse.wiki.ui.activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="alexis.tvrs.rickandmortyuniverse.wiki.ui.activities.SignInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="alexis.tvrs.rickandmortyuniverse.wiki.ui.activities.CharacterFullActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>